
.dropDiv {
  width: 100%;
  height: 40vh;
  border: 2px dashed blue;
  overflow: auto;
}

#dropDiv {
  width: 100%;
  height: 40vh;
  border: 2px dashed blue;
}

.main-slider-content {
  color: #fff !important;
  font-size: 1.5em !important;
  text-transform: uppercase;
  /* font-weight: lighter !important; */
  line-height: 0.8em;
  letter-spacing: 0.15em;
  max-width: 45%;
  margin:auto;
  margin-bottom:0;
}

.main-slider-content button {
  z-index: 7;
  font-family: Montserrat;
  text-transform: uppercase;
  min-width: 341px;
  max-width: 341px;
  white-space: nowrap;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: rgb(227, 6, 19);
  font-family: Montserrat;
  background-color: rgb(255, 255, 255);
  border-color: rgb(227, 6, 19);
  border-style: solid;
  border-width: 2px;
  border-radius: .6rem;
  outline: none;
  box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
  box-sizing: border-box;
  cursor: pointer;
  visibility: inherit;
  transition: none;
  text-align: center;
  margin: 0px;
  padding: 12px 35px;
  letter-spacing: 0px;
  min-height: 53px;
  max-height: 53px;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: 1.3rem;
  /* line-height: 1.9; */
  font-weight: 900;
  /* color: #292b2c; */
  background-color: #fff;
  /* word-spacing: 0.5em; */
  margin-top: 7%;
}

.main-slider-content button:hover {
  background-color: rgb(227, 6, 19);
  color: #fff;
}

.carousel-item .carousel-caption {
  margin-bottom:10%;
}

#menu_button {
  display: inline;
  float: right;
  z-index: 7;
  font-family: Montserrat;
  text-transform: uppercase;
  /* min-width: 241px;
  max-width: 241px; */
  /* width: 30%; */
  white-space: nowrap;
  font-size: 21px;
  line-height: 30%;
  font-weight: 700;
  color: rgb(227, 6, 19);
  font-family: Montserrat;
  background-color: rgb(255, 255, 255);
  border-color: rgb(227, 6, 19);
  border-style: solid;
  border-width: 1px;
  border-radius: .6rem;
  outline: none;
  box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
  box-sizing: border-box;
  cursor: pointer;
  visibility: inherit;
  transition: none;
  text-align: center;
  /* margin: 0px; */
  padding: 1.4% 3.6%;
  letter-spacing: 0px;
  min-height: 33px;
  max-height: 33px;
  opacity: 1;
  /* transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); */
  /* transform-origin: 50% 50% 0px; */
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: 1.3rem;
  /* line-height: 1.9; */
  font-weight: 300;
  /* color: #292b2c; */
  background-color: #fff;
  /* word-spacing: 0.5em; */
  /* margin-top: 7%; */
  /* margin-left: 30%; */
  /* position: relative;
  right: 0; */
  margin-right: 6%;
  align-self: flex-end;
  margin-top: 0.4%;
}

.flex-menu {
  /* display: flex; */
  /* width:100vw; */
  /* width:50%; */
  /* align-items: flex-end; */
  /* justify-content: flex-end; */
}

.red-btn {
  z-index: 7;
  font-family: Montserrat,sans-serif;
  text-transform: uppercase;
  width: 80%;
  white-space: nowrap;
  font-size: 21px;
  line-height: 1.25;
  font-weight: 700;
  color: rgb(227, 6, 19);
  font-family: Montserrat;
  background-color: rgb(255, 255, 255);
  border-color: rgb(227, 6, 19);
  border-style: solid;
  border-width: 1px;
  border-radius: .6rem;
  outline: none;
  box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
  box-sizing: border-box;
  cursor: pointer;
  visibility: inherit;
  transition: none;
  text-align: center;
  margin: 0px;
  padding: 5% 5%;
  letter-spacing: 0px;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  vertical-align: middle;
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: 17px;
  font-weight: 600;
  background-color: #fff;
  align-self: center;
  margin:auto;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;

}

.red-btn:hover {
  background-color: rgb(227, 6, 19);
  color: #fff;
}

.flex-nav {
  width:100%;
  display:flex;
  align-items: space-between;
  justify-content: space-between;
}


#menu_button:hover {
  background-color: rgb(227, 6, 19);
  color: #fff;
}

#carouselExampleIndicators img {
  width:auto;
  height: 50vh;
  max-height: 92vh;
  z-index: -1;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none
}

.four-panel {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  /* max-width: 80%; */
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.four-panel h3 {
  min-height: 55px;
  font-weight: 300;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.1;
  margin-top: 0;
  text-align: center;
}

.b-right img, .n-b img {
  max-width: 85%;
  -webkit-transition: max-width 0.4s;
  transition: max-width 0.4s;
}

.b-right img:hover, .n-b img:hover{
  max-width: 95%;
}

.b-right {
  border-right: 3px solid lightgrey;
}

.b-right, .n-b {
  cursor: pointer;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  /* height: 40vh; */
}

.b-right .red-btn, .n-b .red-btn {
  margin-bottom: 5%;
  margin-top: 3%;
}

.greyback {
  background-color: #f6f6f6;
  padding-top: 68px;
  padding-right: 0px;
  padding-bottom: 45px;
  padding-left: 0px;
  text-align:center;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.9;
  color: #292b2c;
}

.greyback p, .greyback p span {
  display: block;
}

.greyback h1 {
  font-weight: 600;
  margin-bottom: 32px!important;
  /* height: 30px; */
  color: #2e2d2c;
  top: 0;
  font-size: 27px!important;
  position: relative;
  display: block;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.1;
  margin-top: 0;
}

.greyback p {
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  line-height: 1.9;
  color: #292b2c;
}

.transparent-msg {

}

.transparent-msg p {
  z-index: 5;
  /* min-width: 579px; */
  max-width: 579px;
  white-space: normal;
  font-size: 33px;
  line-height: 33px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  text-transform: uppercase;
  visibility: inherit;
  transition: none;
  text-align: center;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  min-height: 0px;
  max-height: none;
  opacity: 1;
  transform-origin: 50% 50% 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  margin: auto;
  /* max-width: 90%; */
}

.footer-darkgrey {
  background: #ebebeb;
  font-weight: 300;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: .95rem;
  font-weight: 400;
  line-height: 1.9;
  color: #292b2c;
}

.footer-darkgrey p {
  font-weight: 300;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: .95rem;
  font-weight: 400;
  line-height: 1.9;
  color: #292b2c;
}

.clfooter {
  font-weight: 300;
  margin-bottom: 15px;
  line-height: 1.1;
  margin-top: 0;
}

.filter {
  color: #fff;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: .95rem;
  line-height: 1.9;
  font-weight: 300;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.f-header {
  border-radius: .6rem .6rem 0 0;
  text-align: center;
  padding: 9px;
  background-color: #a0a0a0;
  box-sizing: inherit;
  display: block;
  text-transform: uppercase;
}

.f-body {
  display: block;
  padding: 30px;
  background-color: #252525;
}

.black-input {
  margin-bottom: 10%;
  background: #000!important;
  color: #fff;
  background-color: #000!important;
  width: 100%;
  font-size: 16px;
  border: 1px solid #fff!important;
  height: 41px;
  border-radius: .6rem;
  outline: none;
  padding-left: 20px;
  padding-right: 28px;
  touch-action: manipulation;
  font-family: sans-serif;
  /* margin: 0; */
  padding: 1px 0px;
  padding-left: 20px;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: text;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  font: 400 13.3333px Arial;
  -webkit-writing-mode: horizontal-tb !important;
}

.header-filter {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;

}

.filter-arrow {
    max-width: 20px;
    position: relative;
    display: block;
    float: right;
    top: 8px;
    right: 12px;
    vertical-align: middle;
    border-style: none;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

/* .filter-arrow:active {
  transform: rotate(180deg);
 -webkit-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
} */

.filter-btn {
  position:relative;
  left: -10%;
  margin-bottom: 10%;
  width:120%;
}

.model-picker {
  position: relative;
  width:100%;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

.model-picker label {
  color: #fff;
}

.car-thumnail {

}

.car-thumb-img {

}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  /* padding-top: 5%; */
}

.closed-filter-row {
  padding-top:5%;
}

.car-row {
  margin-top:2em;
}

.invisible_a {
  text-decoration: none;
  color:white;
}

.car-thumb-header {

}

.car-thumb-info {

}

.status {

}

.refnr {

}

.discount {

}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 8;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
    text-align: center;
    max-width: 200px;
    /* padding: 0 20px 20px!important; */
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
    font-size: 17px;
    font-weight: 400;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    line-height: 1.9;
}

.sidenav .closebtn {
    /* padding: 8px 8px 8px 32px; */
    position: relative;
    right: 2rem;
    top:1rem;
    padding: 0;
    margin: 0;
    margin-bottom: 2.5rem;
    box-sizing: border-box;
    text-decoration: none;
    /* font-size: 25px; */
    /* color: #818181; */
    display: block;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    line-height: 1.9;
    text-align: right;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-link {
  display: block;
  color: #818181;
  text-decoration: none;
  width: 135px;
  margin:auto;
  color:#000;
  /* height: 93px; */
  /* border-left: 1px solid #6e6e6e; */
  font-weight: 300;
  padding-top: 31px;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: 13px;
  line-height: 40px;
  padding: 0 1%;
  border-bottom: 1px solid #ddd!important;
  text-transform: uppercase;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.red-bg-btn {
  width: 100%;
  padding: 6px 10px;
  position: relative;
  margin-top: 5px;
  border-radius: .6rem;
  font-size: 13px;
  background-color: red;
  color: #fff;
  border: 1px solid red;
  font-weight: 300;
  font-family: Montserrat,sans-serif;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
}

a.div-a {
  color:#212529;
}

.nav-logo {
  width:17%;
  vertical-align: middle;
}

.margin-fluid {
  padding-left: 1.2%;
  /* margin-right: 0.6%; */
}

.sm-spacing {
  padding-left: 0.4%;
  padding-right: 0.4%;
}

.spacing-top {
  margin-top: 2%;
  margin-bottom: 5%;
}

.title-buttons {
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  width: 100%;
  min-height: 1px;
  font-weight: 300;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: .95rem;
  line-height: 1.9;
  color: #292b2c;
  background-color: #fff;
}

.title-buttons h1 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin: .67em 0;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

/* .carousel-full {
  width: 100% !important;
} */

.slider-img {
  height: auto !important;
  object-fit: cover !important;
  /* height: auto !important;
  width: 100% !important; */
  /* width: 100% !important;
  height: auto !important;
  max-height: 80% !important; */
}


.green-savings {
    border-radius: .6rem;
    width: 100%;
    margin: 50px 0 20px;
    font-weight: 500;
    font-size: 16px;
    background-color: #6c0;
    color: #fff;
    top: 0;
    left: 10px;
    padding: 6px 15px;
    display: block;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.red-inv-button {
  padding: 10px 40px;
  font-weight: 300;
  border-radius: .6rem;
  font-family: Montserrat,sans-serif;
  text-transform: uppercase;
  padding: 8px 23px;
  font-size: 17px;
  background-color: red;
  color: #fff!important;
  border: 0!important;
  width: 100%;
  padding-left: 10px!important;
  padding-right: 10px!important;
  text-align: center;
  display: inline-block;
  line-height: 1.25;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
}

.summary-highlights-header {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 21px;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  color: #292b2c;
  background-color: #fff;
  display: block;
}

.summary-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

.summary-row .desc {
  width: 35%;
  text-align: right;
}

.summary-row .value {
  width: 35%;
  text-align: left;
}

.car-detail-button-wrapper {
  margin-top: 30px;
  display: block;
  font-weight: 300;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: .95rem;
  line-height: 0.9;
  color: #292b2c;
  background-color: #fff;
}

.btn-black {
  width: 100%;
  margin-bottom: 12px;
  background-color: #2e2d2c;
  color: #fff!important;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border: 0;
  font-weight: 300;
  border-radius: .6rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-family: Montserrat,sans-serif;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
}

.btn-black:hover {
  background-color: #6c0!important;
}

.horizontal-spacing {
  margin-top: 5%;
  margin-bottom:5%;
}

.stocklist-spacing {
  margin:0;
  margin-top:10%;
}

#full-options {
  -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    display: block;
    margin-top: 30px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #292b2c;
    background-color: #fff;
    -webkit-tap-highlight-color: transparent;
}

.standard-sum {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#special-car-wrapper {
  background-color: #2e2d2c;
  color: #fff;
  margin-top: 45px;
  padding: 40px 0;
  text-align: center;
  display:block;
  font-weight: 300;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: .95rem;
  line-height: 1.9;
}

#special-car-wrapper h4 {
  font-size: 15px;
  font-weight: 300;
  text-transform: none;
  margin-bottom: .5rem;
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
  margin-top: 1.5rem;
  text-align:center;
  cursor:pointer;

}

.car-thumbs-wrapper {
  width: 90%;
  display:flex;
  margin:auto;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
}

.special-title {
  font-weight: 200;
  font-size: 26px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: auto;
  margin-bottom: 5%;
}

#singleCarCarousel ul li {
  list-style: square outside;
}

.thumb-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  max-width: 100%;
  margin:auto;
  padding:2%;
  padding-top: 5%;
  /* max-height: 40vh; */
  /* border: inset 5px grey; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 90vw; */
  /* width: 100%;
  max-height:
  overflow: auto; */
}

/* .thumb-gallery img {
  display: inline;
} */

@media (max-width: 768px) {
  #full-options {
    webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 480px) {
  #full-options {
    webkit-column-count: 1;
    column-count: 1;
  }
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
    border-color: #ddd;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 15px;
}

.panel-collapse {
    margin: 5%;
}
.input-group-prepend{
  min-width: 160px;
}
.input-group-text{
    width: -webkit-fill-available;
}
